.card-especialist{
    -webkit-box-shadow: 6px 7px 20px -7px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px 7px 20px -7px rgba(0,0,0,0.4);
    box-shadow: 6px 7px 20px -7px rgba(0,0,0,0.4);
border-radius: 10px;
}

.footer-sec {
    padding: 1.5rem 0 1.5rem;
}

.testimonial-subtitle{
    margin-bottom: 20px;
}

section{
    padding: 50px 0px 50px 0px;
}

.blog-banner h1{
  color:#1d75ba;  
}

.blog-banner p{
  color:#89c443;
}

.blog-banner a {
    color:#89c443 !important; 
}

a:hover{
    cursor: pointer;
}

.open_search{
    display: none;
}

.blog-body{
    padding: 5rem;
}

.btn-whatsapp {
    display:block;
    width:60px;
    height:60px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:25px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

.btn-whatsapp:hover{
    width:63px;
    height:63px;
}

.contenedor-botones{
    left: auto;
    width: 6%;
    padding-left: 1rem;
}

.contenedor-botones a i{
    margin-top: 4px;
    color: white;
}

.redes{
    width: 30%;
}

.redes a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

.redes a:hover{
    width: 60px;
    height: 60px;
}

.face{
    background-color: #1d75ba;
    color:white;
    width: 55px;
    height: 55px;
    line-height: 62px;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0,0.4);
    transition: all 500ms ease;
    cursor: pointer;
}
/*
.face:hover{
    background-color: white;
    color: #1d75ba;
}
*/
.whats{
    background-color:#89c443;
    color:white;
    width: 55px;
    height: 55px;
    line-height: 62px;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0,0.4);
    transition: all 500ms ease;
    cursor: pointer;
}
/*
.whats:hover{
    background-color: white;
    color: #89c443;
}
*/